# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.py[cod]
*$py.class

# -------------------------
# Project folders you don't want tracked
# -------------------------
notebook/
old/

# -------------------------
# Temporales
# -------------------------
*.tmp
_tmp_*

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/
*.swp
*.swo
*~
env3/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Streamlit secrets
# -------------------------
.streamlit/secrets.toml